{#
/**
 * @file restaurant_invoice.html.twig
 * Default theme implementation to present Invoice data.
 *
 * This template is used when viewing Invoice pages.
 *
 *
 * Available variables:
 * - tables: A list of available tables
 * - zones: A list of zones where tables are located.
 *
 * @see template_preprocess_restaurant_invoice()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('restaurant_invoice/tables') }}

<div class ="tables">
{% if zones|length > 1 %}
  <ul class="nav nav-tabs" id="zoneTab" role="tablist">
    {% for zone in zones %}
      <li class="nav-item">
      {% if loop.first %}
        <a class="nav-link active" id="{{ zone.id }}-tab" data-toggle="tab" href="#{{ zone.id }}" role="tab" aria-controls="{{ zone.id }}" aria-selected="true">{{ zone.label }}</a>
      {% else %}
        <a class="nav-link" id="{{ zone.id }}-tab" data-toggle="tab" href="#{{ zone.id }}" role="tab" aria-controls="{{ zone.id }}" aria-selected="true">{{ zone.label }}</a>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content" id="zoneTabContent">
    {% for zone in zones %}
      {% if loop.first %}
        <div class="tab-pane fade show active" id="{{ zone.id }}" role="tabpanel" aria-labelledby="{{ zone.id }}-tab">
      {% else %}
        <div class="tab-pane fade" id="{{ zone.id }}" role="tabpanel" aria-labelledby="{{ zone.id }}-tab">
      {% endif %}
        {% for table in tables %}
          {% if table.zone == zone.id %}
            <div class="table-unit {{ table.id }}" data-table="{{ table.id }}">
              <a href="/restaurant/invoice/add?table={{ table.id }}" target="_blank">{{ table.label }}</a>
            </div>
          {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
  </div>
{% else %}
  {% for table in tables %}
    <div class="table-unit" data-table="{{ table.id }}">{{ table.label }}</div>
  {% endfor %}
{% endif %}
</div>
